<!-- definition  -->
<script type="text/javascript">
    RED.nodes.registerType("change-task", {
        category: "ActiveControl",
        color: "#a6bbcf",
        defaults: {
            name: { value: "" },
            activecontrol: { type: "ac_config", required: true }
        },
        icon: "font-awesome/fa-exchange",
        inputs: 1,
        outputs: 1,
        label: function () {
            return this.name || "AC: Change Task";
        }
    });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="change-task">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-activecontrol"><i class="fa fa-tag"></i> ActiveControl Config</label>
    <input type="text" id="node-input-activecontrol">
  </div>
</script>
<!-- help text -->
<script type="text/html" data-help-name="change-task">
<p>Node to change a new Business Task using the ActiveControl SOAP interface.</p>
<p>Configuration must be stored in a separate node.</p>
<h3>Inputs</h3>
<dl class="message-properties">
  <dt>payload<span class="property-type">object</span></dt>
  <dt>url<span class="property-type">string</span></dt>
  <dt>systemnumber<span class="property-type">string</span></dt>
  <dt>username<span class="property-type">string</span></dt>
  <dt>password<span class="property-type">string</span></dt>
  <dt>authorization<span class="property-type">string</span></dt>
  <dd>will override the default basic authentication</dd>
</dl>
<h3>Outputs</h3>
<dl class="message-properties">
  <dt>payload
      <span class="property-type">object</span>
  </dt>
</dl>
<h3>Description</h3>
<p>Takes an input payload like:</p>
<pre><code class="lang-json">
{
    "XTask": {
        "ID": "10017102000000000194",
        "CAPTION": "short description",
        "REFERENCE": "requirement",
        "GROUPID": "10017100600000000014",
        "TYPEID": "",
        "TESTERID": "JDOE",
        "PRIORITY": "2",
        "PROJECTID": "10012012300000012123",
        "LOCKED": "",
        "PATH": "00",
        "STAT_DEPL": "10017100600000000025",
        "STAT_PLAN": "",
        "STAT_DEPL_MAN": "",
        "STAT_PLAN_MAN": "",
        "OWNER": "",
        "TEXT": "",
        "CF_500": "",
        "CF_501": "",
        "CF_502": "",
        "CF_503": "",
        "CF_504": "",
        "CF_505": "",
        "CF_506": "",
        "CF_507": "",
        "CF_508": "",
        "CF_509": "",
        "CF_510": "",
        "CF_511": "",
        "CF_512": "",
        "CF_513": "",
        "CF_514": "",
        "CF_515": "",
        "CF_516": "",
        "CF_517": "",
        "CF_518": "",
        "CF_519": "",
        "CF_520": "",
        "CF_521": "",
        "CF_522": "",
        "CF_523": "",
        "CF_524": "",
        "CF_525": "",
        "CF_526": "",
        "CF_527": "",
        "CF_528": "",
        "CF_529": "",
        "CF_530": "",
        "CF_531": "",
        "CF_532": "",
        "CF_533": "",
        "CF_534": "",
        "CF_535": "",
        "CF_536": "",
        "CF_537": "",
        "CF_538": "",
        "CF_539": "",
        "CF_540": "",
        "CF_541": "",
        "CF_542": "",
        "CF_543": "",
        "CF_544": "",
        "CF_545": "",
        "CF_546": "",
        "CF_547": "",
        "CF_548": "",
        "CF_549": "",
        "CF_550": "",
        "description": "foo",
        "customFields": [
            {
                "Id": "518",
                "Value": "Y"
            }
        ],
        "testers": [
            {
                "Testerid": "JDOE",
                "Targetroleid": "",
                "Targetid": "0000",
                "Systemid": "",
                "Mandt": "",
                "SmtpAddr": "",
                "Testername": "JDOE"
            }
        ]
    },
    "XUpddateTask": true,
    "XUpdateCustfields": false,
    "XUpdateDesc": false,
    "XUpdateTesters": false
}
</code></pre>
<h2 id="return-values">Return values</h2>
<p>On failure throws an exception, on success returns an object with a success message</p>
<pre><code class="lang-json">
{
    "message": "Task changed successfully"
}
</code></pre>
</script>